body {
  max-width: 1080px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  padding: 0;
  border: 1px solid black;
  border-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
  text-transform: uppercase;
  transition: 0.5s;
}

section {
  border: 1px solid black;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

article {
  margin-left: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-decoration: underline;
  font-size: 2rem;
}
