.person-selector {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.person-selector .input-group {
  margin-top: 1em;
}

.person-selector input {
  width: 100px;
  padding: 0.75em;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
